@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background:black;
    font-family: 'open sans', sans-serif;
    color:aliceblue;
    display: grid;
    place-items: center;
}
.title{
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0;
}
.main{
    align-items: center;
    border-radius: 10px;
    color:white;
    background-color: gray;
    border: 8px solid #dddddd;
    padding: 10px;
    overflow: hidden;
}
.name{
    display: flex;
    font-size: 32px;
    padding: 8px 16px;
    color: white;
    font-weight: 700;
    background-color: gray;
}
.name-input{
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: gray;
    flex-grow: 1;
    border: none;
    margin: 0px 12px;
    outline: none;
}
.message-container{
    list-style: none;
    display: flex;
    background-color: black;
    border-radius: 5px;
    scroll-behavior: smooth;
    height: 470px;
    flex-direction: column;
    overflow-y: auto;
}
.message-container::-webkit-scrollbar{
    display: none;
}
.message-left{
    border-radius: 10px 10px 10px 0;
    align-self: flex-start;
    background-color: rgb(87, 86, 86);
    padding: 5px 6px;
    max-width: 250px;
    width:fit-content;
    margin: 5px 5px;
    word-wrap: break-word;
}
.message-right{
    border-radius: 10px 10px 0px 10px;
    align-self: flex-end;
    margin-left: auto;
    background-color: white;
    color: black;
    padding: 5px 6px;
    margin: 5px 5px;
    width:fit-content;
    justify-content: end;
    align-items: end;
}
.message-left>span, 
.message-right>span{
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 2px;
}
.message-feedback{
    align-self: center;
    padding-bottom: 5px;
    font-style: italic;
    font-size: 12px;
}
.message-form{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}
.message-input{
    flex-grow:1;
    margin: 0 2px;
    height: 30px;

}
.send-button{
    padding: 2px 5px;
}
.client-total{
    font-size: 1rem;
    display: flex;
    justify-content:center;
    align-items: center;
}
